.u-bg-primary {
  background-color: var(--bg-primary);
}
.u-bg-gray {
  background-color: var(--bg-gray);
}
@media (aspect-ratio < 1/1), (pointer: coarse) {
  .u-touch-bg-primary {
    background-color: var(--bg-primary) !important;
  }
}
