.u-border {
  border: 1px solid transparent;
}
.u-border-t {
  border-top-width: 1px;
  border-top-style: solid;
}
.u-border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.u-border-r {
  border-right-width: 1px;
  border-right-style: solid;
}
/* Appearance - color */
.u-border-primary {
  border-color: var(--color-primary);
}
.u-border-gray {
  border-color: var(--color-gray);
}
/* radius */
.u-radius-xsm {
  border-radius: var(--radius-xsm);
}
.u-radius-sm {
  border-radius: var(--radius-sm);
}
.u-radius-b-sm {
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
}
.u-radius-md {
  border-radius: var(--radius-md);
}
.u-radius-lg {
  border-radius: var(--radius-lg);
}
.u-radius-xl {
  border-radius: var(--radius-xl);
}
.u-radius-2xl {
  border-radius: var(--radius-2xl);
}
@media (aspect-ratio < 1/1), (pointer: coarse) {
  .u-touch-border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .u-touch-border-none {
    border: none;
  }
  .u-touch-radius-0 {
    border-radius: 0;
  }
}
