.u-d-none {
  display: none;
}
.u-d-flex {
  display: flex;
}
.u-d-block {
  display: block;
}
.u-flex-col {
  flex-direction: column;
}
.u-justify-center {
  justify-content: center;
}
.u-items-center {
  align-items: center;
}
.u-d-grid {
  display: grid;
}

@media (aspect-ratio < 1/1), (pointer: coarse) {
  .u-touch-d-none {
    display: none;
  }
  .u-touch-d-block {
    display: block;
  }
  .u-touch-d-flex {
    display: flex;
  }
  .u-touch-flex-col {
    flex-direction: column;
  }
  .u-touch-justify-between {
    justify-content: space-between;
  }
}
