.u-d-none {
  display: none;
}
.u-d-flex {
  display: flex;
}
.u-justify-center {
  justify-content: center;
}
.u-items-center {
  align-items: center;
}
.u-d-grid {
  display: grid;
}

@container (max-width: 768px) {
  .u-md-d-flex {
    display: flex;
  }
  .u-md-flex-col {
    flex-direction: column;
  }
}
