/* =============================
   Base Settings Structure
   ============================= */
:root {
  /* colors */
  --color-primary: #2ec4b6;
  --color-primary-light: #2ec4b50d;
  --color-gray: #dcdcdc;
  --color-black: #333;
  --color-error: #ff4d4f;
  --color-success: #00c853;
  /* background-colors */
  --bg-primary: #fff;
  --bg-gray: #f4f4f5;
  --bg-success: rgba(0, 200, 83, 0.1);
  /* text-colors */
  --text-primary: #333;
  --text-secondary: #2ec4b6;
  --text-third: #667085;
  /* border-radius sizes */
  --radius-xsm: 6px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 14px;
  --radius-2xl: 16px;
  /* font sizes */
  --font-xsm: 10px;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  /* transitions */
  --transition-light: all 120ms linear 80ms;
  --transition-normal: all 200ms linear 80ms;
  --transition-heavy: all 300ms linear 80ms;
}
