/* ======================
   Base Navbar Structure
   ====================== */
.c-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  background-color: var(--bg-primary);
}
/* ============================
   Navbar Sections Appearance
   ============================ */
.c-navbar__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.c-navbar > svg {
  display: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
}
/* =============================
   Navbar Menu Section
   ============================= */
.c-navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-navbar__header > svg {
  cursor: pointer;
}
.c-navbar__logo {
  width: 106px;
  height: 24px;
}
.c-navbar__menu {
  display: flex;
  align-items: center;
  transition: var(--transition-light);
}
.c-navbar__list {
  display: flex;
  align-items: center;
}
.c-navbar__item {
  display: flex;
  transition: var(--transition-light);

  position: relative;
}
.c-navbar__item svg {
  width: 14px;
  height: 14px;
}
.c-navbar__link {
  display: flex;
  align-items: center;
}
.c-navbar__link > svg {
  width: 20px;
  height: 20px;
}
.c-navbar__arrow {
  width: 14px;
  height: 14px;
  transition: var(--transition-light);
}
/* =============================
   Active, Hover, ...
   ============================= */
.c-navbar__menu--show {
  transform: translateX(0) !important;
}

/* =============================
   Navbar Media Queries
   ============================= */
@media (aspect-ratio > 1/1) and (pointer: fine) and (hover: hover) {
  .c-navbar__item:hover > .c-submenu__box {
    display: block;
  }
  .c-navbar__item:hover .c-navbar__link {
    color: var(--text-secondary);
  }
  .c-navbar__item:hover .c-navbar__arrow {
    stroke: var(--text-secondary);
    transform: rotate(180deg);
  }
}
@media (aspect-ratio < 1/1), (pointer: coarse) {
  .c-navbar > svg {
    display: block;
  }
  .c-navbar__menu {
    height: 100%;
    width: 256px;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(260px);
    z-index: 10;
  }
  .c-navbar__list {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .c-navbar__item {
    width: 100%;
  }
  .c-navbar__link {
    justify-content: space-between;
  }
  .c-navbar__wrapper.is-active > svg {
    transform: rotate(180deg);
  }
  .c-navbar__header {
    width: 100%;
  }
  .c-navbar__header > svg {
    display: block;
  }
}
