/* =================
   Submenu Structure
   ================= */
.c-submenu__box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}
.c-submenu {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 288px;
  position: relative;
}
.c-submenu__wrapper {
  width: 240px;
}
/* ===================
   Submenu Inner items
   =================== */
.c-submenu__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-transition: var(--transition-light);
  -moz-transition: var(--transition-light);
  -ms-transition: var(--transition-light);
  -o-transition: var(--transition-light);
  transition: var(--transition-light);
}
.c-submenu__tab path {
  stroke-width: 2;
}
.c-submenu__tab:hover {
  background-color: var(--bg-primary);
}
.c-submenu__item {
  display: none;
  position: absolute;
  right: 240px;
  top: 0;
  bottom: 0;
}
.c-submenu__item--active {
  max-height: 300px;
}
.c-submenu__wrapper:hover .c-submenu__tab {
  background-color: var(--bg-primary);
}
/* =====================
   Submenu Media Queries
   ===================== */
@container (min-width:768px) {
  .c-submenu__wrapper:hover .c-submenu__item {
    display: grid;
    grid-template-rows: repeat(6, 48px);
    grid-auto-flow: column;
    grid-auto-rows: 48px;
    white-space: nowrap;
  }
}
@container (max-width: 768px) {
  .c-submenu__box {
    position: relative;
    top: 0;
  }
  .c-submenu {
    min-width: auto;
    height: auto;
  }
  .c-submenu__item {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 25px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: var(--transition-light);
    -moz-transition: var(--transition-light);
    -ms-transition: var(--transition-light);
    -o-transition: var(--transition-light);
    transition: var(--transition-light);
  }

  .c-submenu__tab {
    color: var(--text-third) !important;
    padding-left: 0 !important;
  }
  .c-submenu__tab:hover {
    color: var(--text-secondary) !important;
  }
  .c-submenu__tab:hover > svg {
    stroke: var(--color-primary);
  }
}
