/* =======================
   Base Submenu Structure
   ======================= */
.c-submenu__box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}
.c-submenu {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 288px;
  position: relative;
}
.c-submenu__wrapper {
  width: 240px;
}
/* ===================
   Submenu Inner items
   =================== */
.c-submenu__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: var(--transition-light);
}
.c-submenu__tab svg {
  transition: var(--transition-light);
}
.c-submenu__item {
  display: none;
  position: absolute;
  right: 240px;
  top: 0;
  bottom: 0;
}

/* =====================
   Submenu Media Queries
   ===================== */
@media (aspect-ratio > 1/1) and (pointer: fine) and (hover: hover) {
  .c-submenu__wrapper:hover .c-submenu__item {
    display: grid;
    grid-template-rows: repeat(6, 48px);
    grid-auto-flow: column;
    grid-auto-rows: 48px;
    white-space: nowrap;
  }
  .c-submenu__wrapper:hover .c-submenu__tab {
    background-color: var(--bg-primary);
  }
}
@media (aspect-ratio < 1/1), (pointer: coarse) {
  .c-submenu__box {
    position: relative;
    top: 0;
  }
  .c-submenu {
    width: auto;
    height: auto;
  }
  .c-submenu__wrapper {
    width: 100%;
  }
  .c-submenu__tab {
    color: var(--text-third);
  }
  .c-submenu__item {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-light);
  }
  .c-submenu__wrapper.is-active .c-submenu__item {
    max-height: 450px;
  }
  .c-submenu__wrapper.is-active svg {
    transform: rotate(-180deg) !important;
  }
}
